a {
  text-decoration: none;
  color: inherit;
}

.fixer {
  display: flex;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25),
    inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(96px);
  border-radius: 9px;
  padding: 10px;

  &__image-container {
    width: 64px;
    height: 64px;
    margin-right: 10px;
  }

  &__image {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    object-fit: cover;
    background-color: grey;

    &--hide {
      display: none;
    }

    &--show {
      display: inline-block;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__rating {
    display: flex;
  }
}
