.fixer {
  display: flex;
  border: 1px solid grey;

  &__image {
    width: 64px;
    height: 64px;
    // background-color: grey;

    &--hide {
      display: none;
    }

    &--show {
      display: inline-block;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
  }
}
