.home {
  &__title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 800;
  }

  &__slides {
    display: flex;
    // padding: 0 22px;
    background-color: #e5e5e5;
  }

  &__slide-container {
    width: 178px;
    height: 178px;
  }

  &__slides-image {
    // position: absolute;
    width: 178px;
    height: 178px;
    object-fit: cover;
    border-radius: 10px;
  }

  &__slides-text {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 900;
    bottom: 30px;
    background-color: black;
    border-radius: 10px;
  }

  &__carbon-image {
    width: 100%;
    border-radius: 10px;
  }
}
