@use "../../sass/partials/colors" as *;

.footer {
  background-color: #a3b0dd;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  padding: 2rem;
  margin-top: 4rem;
  bottom: 0;
  // opacity: 100%;
}
