@use "../../sass/partials/colors" as *;

.main {
  &__top {
    display: flex;
    padding: 0 5px;
    position: relative;
    bottom: 40px;
  }

  &__submit-form {
    flex-grow: 1;
    margin-right: 16px;
  }

  &__search-icon {
    position: absolute;
    top: 15px;
    left: 20px;
  }

  &__search-bar {
    background-color: #f0f0f0;
    width: 100%;
    height: 50px;
    border-radius: 2rem;
    padding: 0.4rem 1rem 0.4rem 2.5rem;
    font: inherit;
    font-style: italic;
  }

  &__filter {
    cursor: pointer;
  }
}

// All filter styling

.filter-dropdown {
  font-size: 20px;
  width: calc(100vw - 44px);
  // margin: 15px 22px;
  z-index: 10;
  background: $fixIt-header-purple;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25),
    inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(96px);
  border-radius: 9px;
  padding: 12px;

  &--show {
    // display: inline-block;
    position: absolute;
  }

  &--hide {
    display: none;
  }

  &__title {
    margin-bottom: 20px;
  }
}

.prices li {
  width: 93px;
}

.prices,
.products {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-bottom: 16px;

  li {
    float: left;
    margin: 0 5px 0 0;
    height: 44px;
    position: relative;
  }

  label,
  input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
  }

  input[type="radio"]:checked + label,
  .Checked + label {
    background: $fixIt-header-purple;
    border: 2px solid black;
  }

  label {
    text-align: center;
    padding: 11px 5px;
    border-radius: 21px;
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
    z-index: 90;

    &:hover {
      background: #ddd;
    }
  }
}

.filter-dropdown {
  &__1 {
    width: 200px;
  }
  &__2 {
    width: 110px;
  }
  &__3 {
    width: 165px;
  }
  &__4 {
    width: 100px;
  }
  &__5 {
    width: 140px;
  }
  &__6 {
    width: 100px;
  }
}
